* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: lightgray;
}

.img-fluid {
  width: 100%;
}

.developper {
  position: relative;
  text-align: center;
  color: white;
}

.developper-title {
  position: absolute;
  width: 300px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.developper-title > p {
  text-shadow: 0px 0px 9px rgb(253, 246, 246);
  color: rgb(243, 243, 243);
}

.profilImage {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(245, 235, 235);
  border-radius: 50px;
  background-image: url(image/coala.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.propos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbarPropos > ul {
  list-style: none;

}

h2 {
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
  
}






